/* Projects */

/**********************************************************
 *********************** COMPONENTS ***********************
 **********************************************************/

body {
    width: 100%;
    background-color: #f9f9f9;
    margin: 0px;
    min-width: 320px;
}

/**********************************************************
 ******************** DESKTOP HEADER **********************
 **********************************************************/

.header {
    min-height: 62px;
    height: 62px;
    max-height: 62px;
    width: 100%;
    display: inline;
    background-color: #0099CC;
    overflow: hidden;
    opacity: 1;
}

.desktop_header_table, .desktop_header_table tr, .desktop_header_table td {
    padding: 0;
}

.desktop_header_table {
    width: 100%;
    background-color: #09C;
    height: 62px;
    position: fixed;
    top: 0;
    opacity: 1;
}

.mobile_header_table {
    display: none;
}

.header a {
    color: #FFF;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    width: 84px;
    text-align: center;
    outline: none;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
}

.header a:hover {
    color: #00C;
}

/* Currently not in use */
.header a:active {
    color: #000080;
}

.header h1 {
    margin: 0;
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 8px;
}

.header_menu_left, .header_menu_right {
    padding: 0px;
    list-style-type: none;
    height: 58px; 
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    line-height: 3.8;
}

.header_menu_left li, .header_menu_right li, .header_menu_left li a, .header_menu_right li a {
    display: inline-block;
    height: 62px;
}

/**********************************************************
 ******************** MOBILE HEADER ***********************
 **********************************************************/

.mobile_header_table h1 {
    padding-left: 15px;
    text-align: left;
}

.mobile_header_button {
    right: 10px;
    top: 9px;
    position: absolute;
}

.mobile_header_button_style {
    height: 40px;
    width: 40px;
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 2.2em;
    padding: 0;
    line-height: 0;
    font-family: Arial;
}

.mobile_header_button_style:hover {
    color: #00C;
    border-color: #00C;
}

.mobile_header_button_style:active {
    color: #000080;
    border-color: #000080;
}

/**********************************************************
 ********************** DROP DOWN *************************
 **********************************************************/

.drop_down_contents {
    display: none;
    position: absolute;
    top: 62px;
    left: 240px;
    width: 114px;
    list-style-type: none;
    text-align: center;
    padding: 0;
    line-height: 1;
}

.drop_down_contents li {
    height: 36px;
}

.drop_down_contents li a {
    background-color: #000080;
    color: #0FF;
    text-align: center;
    padding: 0;
    width: 114px;
    height: 36px;
    line-height: 2;
}

.drop_down:hover .drop_down_contents {
    display: block;
    z-index: 100;
}

.drop_down_contents li a:hover {
    color: #FFF;
}

/**********************************************************
 *********************** CONTENT **************************
 **********************************************************/
.content {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.content_body {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #F8F8F8;
    width: 1360px;
    margin: auto;
    display: inline-block;
    text-align: left;
    background-color: #FFF;
}

.content_body h1 {
    text-align: center;
    color: #000060;
    margin-top: 92px;
    margin-bottom: 90px;
}

.content_body_text {
    padding-left: 20px;
    padding-right: 15px;
}

.content_body_text h2 {
    color: #00C;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content_body_text h3 {
    color: #0F4BFF;
    margin-bottom: 10px;
}

.content_body_text p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana;
    font-size: 1.05em;
    line-height: 1.5em;
}

.anchor {
    display: block;
    height: 62px;
    margin-top: -62px;
    visibility: hidden;
}

/**********************************************************
 ********************* MEDIA QUERIES **********************
 **********************************************************/

@media (max-width: 1400px) {
    .content_body {
        width: 980px;
    }
}

@media (max-width: 1024px) {
    .content_body {
        width: 740px;
    }
    .desktop_header_table {
        display: none;
    }
    .mobile_header_table {
        display: inline-block;
        width: 100%;
        background-color: #0099CC;
        height: 62px;
    }
    .content_body h1 {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .content_body_text {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .content_body {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media (max-width: 640px) {
    .content_body {
        width: 93%;
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
}

@media (max-width: 480px) {
    .content_body {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 360px) {
    .content_body {
        width: 86%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

/**********************************************************
 ************************ OTHER ***************************
 **********************************************************/
/* Include this in the first line to import Open Sans 
@import url(//fonts.googleapis.com/css?family=Open+Sans);
 */
